<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="joke-display"><%= joke.value %></div>
    <div>
      <!-- <p>Click here for random Chuck Norris Joke</p> -->
      <form action="/" method="GET">
        <button type="submit">GENERATE RANDOM FACT</button>
      </form>
    </div>
  </body>
</html>
