body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
#joke-display {
  font-size: 20px;
  text-align: center;
  border: solid rgb(1, 12, 163) 1px;
  padding: 5px;
}
button {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
form {
  text-align: center;
}